{% comment %}
  Usage:
  {% include 'navbar-global' %}

  Dependencies:
  - /assets/bootstrap.bundle.min.js
  - /snippets/icon-bag.liquid
  - /snippets/icon-gear-wide-connected.liquid
  - /snippets/icon-person-circle.liquid
  - /snippets/icon-search.liquid
{% endcomment %}

<style>
  .icon {
    vertical-align: top;
  }
</style>

<nav id="navbarGlobal" class="navbar navbar-global navbar-expand-lg sticky-top navbar-dark bg-dark">
  <div class="container">
    <div class="d-flex d-lg-none justify-content-between w-100">
      <button class="navbar-toggler js-mobile-nav-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContentGlobal" aria-controls="navbarSupportedContentGlobal" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
      <a class="navbar-brand" href="{{ routes.root_url }}">
        {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
        <img class="lazyload js"
            src="{{ section.settings.logo | img_url: '300x300' }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ logo_alt | escape }}"
            style="max-width: {{ section.settings.logo_max_width }}px;">
        <noscript>
          {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
          <img src="{{ section.settings.logo | img_url: image_size }}"
              srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}"
              style="max-width: {{ section.settings.logo_max_width }}px;">
        </noscript>
      </a>
      <a id="navbarTogglerCart" class="navbar-toggler-esq" href="#" role="button" data-toggle="dropdown" data-target="#dropdownMenuCart" aria-haspopup="true" aria-expanded="false">
        <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
        <span class="navbar-toggler-esq-icon navbar-bag-icon">
          <div id="CartCount" class="badge badge-pill badge-light {% if cart.item_count == 0 %}hide{% endif %}" data-cart-count-bubble>
            <span data-cart-count>{{ cart.item_count }}</span>
            <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
          </div>
        </span>
      </a>
    </div>

    <div id="navbarSupportedContentGlobal" class="collapse navbar-collapse">
      <ul id="AccessibleNav" class="navbar-nav nav-fill w-100">
        <li class="nav-item nav-item-expand">
          {% if section.settings.logo %}
            {% assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <a class="navbar-brand" href="{{ routes.root_url }}">
              {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
              <img class="lazyload js"
                  src="{{ section.settings.logo | img_url: '300x300' }}"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ logo_alt | escape }}"
                  style="max-width: {{ section.settings.logo_max_width }}px; max-height: 1.25rem;">
              <noscript>
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                    srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                    alt="{{ section.settings.logo.alt | default: shop.name }}"
                    style="max-width: {{ section.settings.logo_max_width }}px; max-height: 1.25rem;">
              </noscript>
            </a>
          {% else %}
            <a class="navbar-brand" href="{{ routes.root_url }}">{{ shop.name }}</a>
          {% endif %}

        </li>
        {% for link in linklists[section.settings.main_linklist].links %}
          <li class="nav-item {% if link.active or link.child_active %}active{% endif %}">
            <a class="nav-link" href="{{ link.url }}" {% if link.current %}aria-current="page"{% endif %}>{{ link.title | escape }}</a>
          </li>
        {% endfor %}
        <li class="nav-item nav-item-expand">
          <a class="nav-link js-drawer-open-top" data-predictive-search-open-drawer>
            <span class="icon">
              {% include 'icon-search' %}
            </span>
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </a>
        </li>
        <li class="nav-item nav-item-dropdown nav-item-expand dropdown">
          <a id="navbarDropdownCart" class="nav-link" href="#" data-toggle="dropdown" data-target="#dropdownMenuCart" aria-haspopup="true" aria-expanded="false">
            <span class="icon">
              {% include 'icon-bag' %}
            </span>
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            <div id="CartCount" class="badge badge-pill badge-primary {% if cart.item_count == 0 %}hide{% endif %}" data-cart-count-bubble>
              <span data-cart-count>{{ cart.item_count }}</span>
              <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
            </div>
          </a>

        </li>
      </ul>
    </div>

    <div id="dropdownMenuCart" class="dropdown-menu dropdown-menu-cart dropdown-menu-center" aria-labelledby="navbarDropdownCart">
      <div class="container">
        <a class="btn btn-primary btn-block" href="{{ routes.cart_url }}" role="button">{{ 'cart.general.checkout' | t }}</a>
        <div class="list-group list-group-flush">
          <a class="list-group-item" href="{{ routes.cart_url }}">
            <span class="icon">
              {% include 'icon-bag' %}
            </span>
            <span>{{ 'layout.cart.title' | t }}</span>
          </a>
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <a class="list-group-item" href="{{ routes.account_url }}">
                <span class="icon">
                  {% include 'icon-gear-wide-connected' %}
                </span>
                <span>{{ 'layout.customer.account' | t }}</span>
              </a>
              <a class="list-group-item" href="{{ routes.account_logout_url }}">
                <span class="icon">
                  {% include 'icon-person-circle' %}
                </span>
                <span>{{ 'layout.customer.log_out' | t }}</span>
              </a>
            {% else %}
              <a class="list-group-item" href="{{ routes.account_login_url }}">
                <span class="icon">
                  {% include 'icon-person-circle' %}
                </span>
                <span>{{ 'layout.customer.log_in' | t }}</span>
              </a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-nav-wrapper"></div>
</nav>

<script defer="defer">
	$(window).ready(function () {
		$('#navbarSupportedContentGlobal').on('show.bs.collapse', function () {
			$('#navbarTogglerCart').animate({
				opacity: 0
			}).addClass('disabled');
		});

		$('#navbarSupportedContentGlobal').on('hide.bs.collapse', function () {
			$('#navbarTogglerCart').removeClass('disabled').animate({
				opacity: 1
			});
		});

		$('#dropdownMenuCart').on('show.bs.dropdown', function () {
			const $navbarDropdownCartParent = $('#navbarDropdownCart').parent()
			let position = $navbarDropdownCartParent.position();

			if (position.top !== 0) {
				let height = $navbarDropdownCartParent.height();

				$(this).css({
					top: position.top + height,
					left: position.left
				});
			}
		});
	});
</script>